<!-- Header -->
  <header>
    <div class="container header-container">
      <div class="logo">
        <a href="index.html">
          <div class="logo-text">
            <span>Peque</span><span>MATHS</span>
          </div>
        </a>
      </div>
      
      <nav>
        <ul>
          <li><a href="index.html"><i class="fa-solid fa-house nav-icon"></i> Inicio</a></li>
          <li><a href="#"><i class="fa-solid fa-gamepad nav-icon"></i> Juegos</a></li>
          <li><a href="#"><i class="fa-solid fa-children nav-icon"></i> Por Edad</a></li>
          <li><a href="#"><i class="fa-solid fa-star nav-icon"></i> Recomendados</a></li>
          <li><a href="#"><i class="fa-solid fa-phone nav-icon"></i> Contacto</a></li>
          <li><a href="login.html"><i class="fa-solid fa-user nav-icon"></i> Iniciar Sesión</a></li>
        </ul>
      </nav>
      
      <button class="mobile-menu-button"><i class="fa-solid fa-bars"></i></button>
    </div>
  </header>
